* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    background-color: lightgray;
}

#bs {
    direction: rtl;
}

ul {
    margin-right: 25px;
}

#dc-container {
    display: grid;
    justify-content: space-around;
}