* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    background-color: lightgray;
}

nav ul{
    display: flex;
    border: 2px black solid;
}

nav ul li {
    border: 2px black solid;
    display: grid;
    text-align: center;
    padding: 3px;
    margin: 3px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}


#bs {
    direction: rtl;
}

ul {
    margin-right: 25px;
}

.containers {
    display: grid;
    justify-content: space-around;
    text-align: center;
}

#dc-btn {
    text-align: center;
}

#dc-submit, #tu-submit {
    padding: 2vw;
    margin: 1vw;
    border-radius: 25%;
    border: none;
    font-size: 15px;
}

.confirm-btn {
    padding: 2vw;
    margin: 1vw;
    border-radius: 25%;
    border: none;
    font-size: 15px;
}

#dc-input {
    display: flex;
}

#dc-from, #dc-to {
    display: grid;
    margin: 2vw;
}

#dc-from input, #dc-to input {
    margin: 1vw;
    padding: 5px;
    background-color: lightblue;
}

#dc-container h3 {
text-align: center;
}

#dc-output, #tu-output {
    text-align: center;
    margin: 2vw;
    padding: 1vw;
    border: 1px black;
    border-radius: 10%;
    border-style: dashed;
}
